.button {
    -fx-font-family: "Comic Sans MS";
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 2, 5, 5),
                 dropshadow(gaussian, rgba(0, 0, 0, 0.5), -2, -2, 5, 5),
                 dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, -2, 5, 5),
                 dropshadow(gaussian, rgba(0, 0, 0, 0.5), -2, 2, 5, 5);
                 -fx-transition: -fx-background-color 0.5s;
     -fx-background-radius: 20px;
 }

 .button:hover {
     -fx-background-color: brightness(red, 1.2);
     -fx-scale-x: 1.1;
     -fx-scale-y: 1.1;
     -fx-transition: -fx-scale-x 1s, -fx-scale-y 1s;
 }

#btnStart, #btnAbout {
    -fx-effect: dropshadow(gaussian, rgba(243, 88, 166, 0.5), 2, 2, 5, 5),
                dropshadow(gaussian, rgba(243, 88, 166, 0.5), -2, -2, 5, 5),
                dropshadow(gaussian, rgba(243, 88, 166, 0.5), 2, -2, 5, 5),
                dropshadow(gaussian, rgba(243, 88, 166, 0.5), -2, 2, 5, 5);
}

#btnExit {
    -fx-effect: dropshadow(gaussian, rgba(177, 123, 234, 0.5), 2, 2, 5, 5),
                dropshadow(gaussian, rgba(177, 123, 234, 0.5), -2, -2, 5, 5),
                dropshadow(gaussian, rgba(177, 123, 234, 0.5), 2, -2, 5, 5),
                dropshadow(gaussian, rgba(177, 123, 234, 0.5), -2, 2, 5, 5);
}

#anchorPaneMain{
-fx-effect: dropshadow(gaussian, rgba(150, 150, 150, 0.5), 2, 2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), -2, -2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), 2, -2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), -2, 2, 5, 5);
    -fx-background-color: white;
    -fx-background-radius: 38px;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 2px;
    -fx-border-radius: 35px;
}

#anchorPaneMainTopic{
-fx-effect: dropshadow(gaussian, rgba(150, 150, 150, 0.5), 2, 2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), -2, -2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), 2, -2, 5, 5),
            dropshadow(gaussian, rgba(150, 150, 150, 0.5), -2, 2, 5, 5);
    -fx-background-color: white;
    -fx-background-radius: 38px;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 2px;
    -fx-border-radius: 35px;
        -fx-translate-y: 0;
        -fx-transition: all 0.5s;
}

#anchorPaneMainTopic:hover {
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
    -fx-translate-y: -13;
}